# Object files
*.log
~*.docx
*.png
*.bat
*.ncb
*.exe
*.dll
*.lib
*.obj
*.dep
*.idb
*.pdb
*.user
*.ncb
*.vcproj.MXSOFT-ALEX.Administrator.user

# Build results
/Debug/
/boring/Debug/
/UdpClient/Debug/
/UdpServer/Debug/
/boring/boring.vcproj.MXSOFT-ALEX.Administrator.user